[init]
	defaultBranch = main


 [alias]
 # logs
 l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
 lg='git log --graph --oneline --decorate --all'

 a = add
 ap = add -p
 aa = add .
 ac = !git add -A && git commit -m
 c = commit --verbose
 ca = commit -a --verbose
 cm = commit -m
 cam = commit -a -m
 m = commit --amend --verbose
 gcm = checkout master

 rp = reset -p

 d = diff
 ds = diff --stat
 dc = diff --cached
 a = add
 ap = add -p
 aa = add .
 c = commit --verbose
 ca = commit -a --verbose
 cm = commit -m
 cam = commit -a -m
 m = commit --amend --verbose

 d = diff
 ds = diff --stat
 dc = diff --cached

 s = status -s
 co = checkout
 cob = checkout -b
 
 psu ="!git push -u origin HEAD"
 
 # list branches sorted by last modified
 b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

 # list aliases
 la = "!git config -l | grep alias | cut -c 7-"

 # prune all local branches (run from main)
 prune-local = !git branch | grep -v -e "prod" -e "dev"  | xargs git branch -D
[user]
	name = Josh
	email = jdjacobsen@protonmail.com
[push]
	autoSetupRemote = true
[pull]
	ff = only
[commit]
	template = /Users/josh/.gitmessage
[core]
	excludesfile = /Users/josh/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
